<img src="assets/images/bolsa-login.png" alt="Mochila verde moderna">
<div class="imagem-direita">
    <img src="assets/images/login.png" alt="Jovem rapaz estudando com símbolos de matérias ao redor">
</div>

<div class="mb-3">
    <label for="formGroupExampleInput" class="form-label">E-mail</label>
    <input type="text" class="form-control" id="formGroupExampleInput" placeholder="Digite seu e-mail">
  </div>
  <div class="mb-3">
    <label for="formGroupExampleInput2" class="form-label">Senha</label>
    <input type="text" class="form-control" id="formGroupExampleInput2" placeholder="Digite sua senha">
  </div>