<body>
    <div class="conteudo-login">
      <div class="secao-imagem">
        <img class="imagem-esquerda" src="/assets/images/login.png" alt="Estudante lendo um livro com elementos científicos ao redor">
      </div>
      <div class="direita">
        <form class="form-login">
          <img class="logo" src="/assets/images/bolsa-login.png" alt="Logo do Guia do Mochileiro Fatecano">
          <h2>Guia do Mochileiro<br>Fatecano</h2>
          <div class="grupo-formulario">
            <p>E-mail</p>
            <input placeholder="Digite seu e-mail">
          </div>
          <div class="grupo-formulario grupo-senha">
            <p>Senha</p>
            <span class="icone"><i class="fas fa-lock"></i></span>
            <input type="password" placeholder="Digite sua senha">
            <img class="icone-cadeado" src="assets/images/cadeado.png" alt="Cadeado de senha">
          </div>
          <button type="submit" routerLink="./home">Entrar</button>
          <div class="link-cadastro">
            <span>Ainda não possui conta? </span>
            <a routerLink="./register">Cadastrar-se</a>
          </div>
        </form>
      </div>
    </div>
  </body>