@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap');

* {
    font-family: 'Poppins', sans-serif;
}

.container-fuid {
    padding: 0 120px;
    @media (max-width: 576px) {
        padding: 0;
    }
}

.navbar {
    background-color: #00b74a;

    .navbar-brand, .navbar-nav .nav-link {
        color: #fff;
    }

    .navbar-brand {
        display: flex;
        align-items: center;

        img {
            margin-right: 10px;
        }
    }
}

ul {
    gap: 20px;
}

.nav-item {
    display: flex;
    align-items: center;

    img {
        height: 30px;
        width: auto;
    }
}

.add-term-button {
    background-color: #00b74a;
    color: #fff;
    border: none;
    font-size: 18px;
    padding: 12px 20px;

    &:hover {
        background-color: #00993b;
    }
}

.row {
    display: grid;
    gap: 20px;
    margin: auto;

    @media (max-width: 576px) {
        grid-template-columns: repeat(1, 1fr);
    }

    @media (min-width: 576px) and (max-width: 768px) {
        grid-template-columns: repeat(2, 1fr);
    }

    @media (min-width: 768px) {
        grid-template-columns: repeat(3, 1fr);
    }
}

.card {
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    border: none;
    cursor: pointer;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    width: 300px;
    height: 200px;
    transition: transform 0.3s;

    &:hover {
        transform: scale(1.05);
    }
    
    .card-body {
        display: flex;
        align-items: center;
        justify-content: center;
        height: 100%;
        width: 100%;
        text-align: center;
    }

    .card-title {
        font-size: 24px;
        color: #4a4a4a;
    }
}
