<body>
    <div class="conteudo-login">
      <div class="secao-imagem">
        <img class="imagem-esquerda" src="assets/images/register.png" alt="Jovem mulher sentada em livros lendo um deles">
      </div>
      <div class="direita">
        <form class="form-login">
          <h2>Cadastre-se</h2>
          <div class="grupo-formulario">
            <p>Nome</p>
            <input placeholder="Digite seu e-mail">
          </div>
          <div class="grupo-formulario">
            <p>E-mail</p>
            <input placeholder="Digite seu e-mail">
          </div>
          <div class="grupo-formulario grupo-senha">
            <p>Senha</p>
            <span class="icone"><i class="fas fa-lock"></i></span>
            <input type="password" placeholder="Digite sua senha">
            <img class="icone-cadeado" src="assets/images/cadeado.png" alt="Cadeado de senha">
          </div>
          <div class="grupo-formulario grupo-senha">
            <p>Confirmação da senha</p>
            <span class="icone"><i class="fas fa-lock"></i></span>
            <input type="password" placeholder="Digite sua senha">
            <img class="icone-cadeado" src="assets/images/cadeado.png" alt="Cadeado de senha">
          </div>
          <button type="submit" routerLink="./home">Cadastrar</button>
          <div class="link-cadastro">
            <span>Possui conta? </span>
            <a href="#">Entrar</a>
          </div>
        </form>
      </div>
    </div>
  </body>